body.dark-mode {
    background-color: #0F172A;
}

.dark-mode .App-header {
    background-color: #3F3F46;
}

.dark-mode .count p {
    color: #F1F5F9;
}

.dark-mode .slider {
    border-color: #020617;
}

.dark-mode .container {
    background-color: #CBD5E1;
    box-shadow: 0 0 8px 0 #F8FAFC;
}

.dark-mode .todolist {
    color: #334155;
}

.dark-mode .task-list {
    color: #334155;
}

.dark-mode .pending-tasks {
    color: #334155;
}

.dark-mode .logout {
    background-color: #CBD5E1;
    color: #334155;
}